body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #050816;
  color: white;
}

.app {
  min-height: 100vh;
}

section {
  padding: 100px 10%;
}

.hero {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  font-size: 5rem;
  margin: 0;
}

.hero h2 {
  color: #00d8ff;
  margin-top: 10px;
}

.hero p {
  max-width: 700px;
  line-height: 1.7;
  color: #cbd5e1;
}

.hero-buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.hero-buttons a {
  text-decoration: none;
  color: white;
  border: 1px solid #00d8ff;
  padding: 12px 24px;
  border-radius: 8px;
}

.projects {
  background: #0b1120;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 20px;
}

.project-card {
  background: #111827;
  padding: 20px;
  border-radius: 12px;
}
